/* Universal selector*/
*{ 
    box-sizing: border-box;
    padding:0px;
    margin:0px;
    
}
:root{
    --border-color:black;
    --primary-color:bisque;
    --navlink--color:blueviolet;
    
}

body {
    background-color: white;
    margin:0px;

}

.header {
 padding:20px;
 background-color:var(--primary-color);
 display:flex;
 flex-wrap: wrap;
 width:100%;
 justify-content: space-between;
 margin:auto;

 }
 .header h1{
    background-color:aquamarine;
    font-size: 35px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    padding:10px;
    font-style: italic;
    
 }
.header nav ul{ 
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin-bottom:0;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;

   
}

.header a {
    padding: 15px;
    color:var(--navlink--color);
    font-style:oblique ;
}
.header nav ul li:hover{
    background-color:pink;
    padding:5px;
}
        /*HERO-IMAGE SECTION*/

.Hero-Image {
   display:flex;
    flex-wrap: wrap;
    padding: 60px;
    margin: 0px;
    background-image: url("../images/port7.jpg");
    background-size: cover;
    background-position: center;
    width:100%;
    height:100%;
    
}
.subtitle { 
    padding: 12px;  
    background-color: brown;
    display: flex;
    margin-left: auto;
}
/* .Hero-Image h2 {
    width:100%;
    padding: 12px; 
    font-size: 30px;;
    background-color: brown;
    display: flex;
    justify-content: flex-end;
} */


h2{
    font-family:serif;  
    font-size: 30px;   
}

    /*ABOUT ME SECTION*/

.aboutme {
    background-color:beige;
    padding: 10px;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
   
    
}
.title h2 {
    margin-left: 40px;;
    display: flex;
    justify-content: center;
    padding-right: 20px;
    font-size: 50px;
       
}

.aboutme img{
    height:200px;
   margin-left: 25%;
    
}
.content { 
    display:flex;
    flex-direction: wrap;
    margin: 20px;
    width: 75%;
    border-left:5px solid;
    border-color: var(--border-color);
    align-items: center;
    padding: 20px;
    font-size: 25px;
}
         /*WORK SECTION*/

.work{
   
    background-color:cornsilk;
    padding: 10px;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    }


.work-content {
    display:flex;
    flex-flow: wrap;
    justify-content: space-evenly;
    align-content: flex-start;
    width:68%;
   padding:20px;
    border-color:var(--border-color);
    border-left: 5px solid;
    
    
}

figcaption{
    margin-left: 5px;
  margin-top: -35px;
    position: absolute;
    font-size: 20px;
    font-style: italic;
    color:var(--border-color);
    font-weight: bold;
    background-color: magenta;
    border:3px solid;
    
}
.work figcaption:hover{
    background-color:red;
}



.learner {
    
    width: 100%;
    
   /* border: 2px solid;*/
}
.learner img{
    width:100%;
    height:300px;
    display: flex;
}

.Accessibility{
    height:100%;
    /*border: 2px solid;*/
    margin-top: 5px ;
    /*margin-right: 15px;*/
    width:350px;
}
.Accessibility img{
    height:300px;
    width:100%;
}

.Decorator{
  /* border: 2px solid; */
    height:100%; 
   margin-top: 5px ;
   width:350px;
   
}

.Decorator img{
    height:300px;
    width:100%;
}

.Instructor  {
   /* border: 2px solid;*/
    height:100%;
    margin-top: 5px ;
    width:350px;
   /* margin-right: 15px;*/
}
.Instructor img{
    height:350px;
    width:100%;
    
}

.Bollywood {
   /*border: 2px solid;*/
    height:100%;
    margin-top: 5px ;
    width:350px;
}

.Bollywood img{
    height:350px;
    width:100%;
    
}


       /*FOOTER:CONTACT-ME Section*/
.contactme
{
    background-color:var(--primary-color);
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
}

.contact-content { 
    display:flex;
    flex-direction: wrap;
    margin:10px;
    margin-right: 25px;;
    width: 75%;
    border-left:5px solid;
    border-color:var(--border-color);
    align-items: center;
    padding:15px;
    font-size: 25px;
    
}

.contactme ul{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    align-items: left;
    list-style: none;
    margin-left: 0px;
   width:100%;
}
.contactme  li a{
    
    font-size: 20px;
    padding: 10px;
    color:var(--navlink--color);
    
}
.contactme  ul li:hover{
    background-color:pink;
    padding:5px;
}
        /* Media Query for various screens and device */
@media screen and (max-width: 980px){
    .header{
        background-color:burlywood;
        justify-content: center;
        margin:0px;
         }
         .header h1{
            font-size: 25px;
        }
        .header nav ul{
            font-size: 20px;
            padding-top: 10px;
            justify-content: center;
        }
         
        .Hero-Image{
            padding:25px;
        }
        h2{
            font-size: 30px;;
        }
        .title h2{
            font-size: 35px;
        }
        
        .aboutme img{
            height:100px;
            
        }
        .content{
            font-size: 18px;
        }
    
        .work-content{
            width:100%;
            padding:5px;
        
        }
        .contactme{
            background-color:burlywood;
        }
        .contactme ul {     
            width: 100%;
            justify-content: left;
                 
        }
        .contactme ul li a {
            
            line-height: 2;  
            
        }
      
    
}
@media screen and (max-width: 480px) {
    .header{
        background-color:lavenderblush;
        justify-content: center;
        margin:0px;
         }
     .header h1{
            font-size: 15px;
           
        }
    .header nav ul{
            font-size: 15px;
            
            
        }
    .Hero-Image{
            padding:15px;
        }
    h2{
            font-size: 15px;
            
        }
    .title h2{
            font-size: 25px;
        }
    .content{
            font-size: 13px;
            padding:8px;
            margin:0%;
        }
    .work-content{
            width:100%;
        }
    .Accessibility{
            width:200px;
        }
    .Decorator{
        width:200px;
    }
    .Instructor{
        width:200px;
    }
    .Bollywood{
        width:200px;
       
    }
    .work figcaption{
        font-size: 18px;
    }
    .contactme{
        background-color:lavenderblush;
    }
    .contactme ul {     
        width: 100%;
        justify-content: left;
        flex-direction: column;        
    }
    .contactme ul li a {
        font-size:15px ;
        line-height:0.5;  
    }
}